// For grid setup --
.slick-slide {
  height: auto;
}
.slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.slick-prev:before {
  content: "\1438
  ";
  color: $accentcolor;
  font-size: 30px;
  position: absolute;
  bottom: 150%;
  left: 0.1rem;
}

.slick-next:before {
  content: "\1433
  ";
  color: $accentcolor;
  font-size: 30px;
  position: absolute;
  bottom: 150%;
  right: 0.1rem;
}

.sliders-container {
  @include flex-column;
  position: absolute;
  top: 44rem;
  left: 2rem;
  right: 2rem;

  a {
    color: $primarytxtcolor;
    text-decoration: none;
  }

  a:visited {
    color: $primarytxtcolor;
  }

  a:hover {
    color: $accentcolor;
  }
}

.category-container {
  h2 {
    text-align: center;
    padding-bottom: 2rem;
  }
}

.movies-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.movie-poster {
  img {
    border-radius: 15px;
  }

  height: 100%;
  width: 100%;
}

.card-container {
  position: relative;
  padding: 0 0 4rem 0;
}

.movie-card {
  @include flex-column;
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 6px 6px 12px;
}

.movie-info {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  background-color: rgba($backgroundsecondary, 0.9);
  padding: 1.5rem;
  height: 100%;
  border-radius: 15px;
}

.movie-card:hover {
  .movie-info {
    @include flex-column;
    justify-content: flex-start;

    h3 {
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    p {
      font-size: 1.2rem;
      text-align: left;
    }

    span {
      font-weight: 600;
      font-size: 1.5rem;
    }

    .thumbs {
      width: 3rem;
    }

    .rating {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .btn-more-info {
      background-color: $accentcolor;
      width: 50%;
      align-self: center;
      padding: 1rem 2rem;
      border-radius: 2rem;
      text-decoration: none;
      color: $primarytxtcolor;
    }
  }
}
