.singleMovie {
    font-family: 'Poppins', sans-serif;

    .singleMovieContent {

        .singleMoviePoster {
            margin: 1rem auto;

            img {
                display: block;
                width: 80%;
                margin: 0 auto;
                border-radius: 15px;

                @include mq($tabletBP){
                    width: 60%;
                }

                @include mq($desktopBP){
                    margin: 0;
                    margin-left: 5%;
                    width: 37%;
                    max-width: 28rem;
                }

                @include mq($desktopWideBP){
                    max-width: 33rem;
                    margin-right: 2rem;
                }
            }
        }

        .singleMovieInfo {

            
            .underPoster {

                @include mq($desktopBP){
                    position: absolute;
                    top: 12%;
                    max-width: 50vw;
                    right: 30px;
                    overflow: hidden;
                }

                @include mq($desktopWideBP){
                    max-width: 55vw;
                    top: 15%;
                    right: 7%;
                    padding-left: 7rem;
                }

                .movieTitle {
                    text-align: center;
                    margin: 1rem 0 auto;
                    font-size: 1.8em;

                    @include mq($tabletBP){
                        font-size: 2.7em;
                    }

                    @include mq($desktopBP){
                        text-align: left;       
                    }

                    @include mq($desktopWideBP){
                        font-size: 3rem;
                        margin-bottom: 2rem;
                    }
                }


                .rating {
                    display: flex;
                    justify-content: center;
                    margin: 1rem 0;

                    @include mq($desktopBP){
                        justify-content: left;       
                    }

                    img {
                        width: 50px;

                        @include mq($tabletBP){
                            width: 70px;
                        }

                        @include mq($desktopBP){
                            width: 50px;
                        }

                        @include mq($desktopWideBP){
                            width: 70px;
                            
                        }
                    }

                    .ratingPercent{
                        margin-left: 10px;
                        font-size: 1.7em;
                    
                        @include mq($tabletBP){
                            font-size: 2.5em;
                        }

                        @include mq($desktopBP){
                            font-size: 1.7em;   
                        }
                        
                        @include mq($desktopWideBP){
                            font-size: 2.5em;
                            margin-left: 2rem;
                            margin-bottom: 2rem;
                        }
                    }
                }

                h3 {
                    font-size: 1.4em;
                    font-weight: 500;
                    text-align: center;
                    text-decoration: underline 3px solid $accentcolor;
                    text-underline-offset: 7px;

                    @include mq($tabletBP){
                        font-size: 2.2em;
                        text-underline-offset: 12px;
                    }

                    @include mq($desktopBP){
                        font-size: 1.6em; 
                        text-underline-offset: 8px; 
                        text-align: left;     
                    }

                    @include mq($desktopWideBP){
                        font-size: 2.2em;
                        text-underline-offset: 12px;

                    }
                }

                .movieDes {
                    width: 90vw;
                    margin: 0 auto;
                    font-size: 1.1em;
                    margin-bottom: 1rem;

                    @include mq($tabletBP){
                        font-size: 1.4em;
                        font-weight: 400;
                    }

                    @include mq($desktopBP){
                        width: 50vw;
                        font-size: 1.1em;
                    }

                    @include mq($desktopWideBP){
                        font-size: 1.4em;
                        margin-bottom: 2rem;
                    }
                }

                .underDes {
                    width: 90vw;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;

                    @include mq($tabletBP){
                        width: 80vw;
                        margin-top: 2rem;  
                        margin-bottom: 4rem;         
                    }

                    @include mq($desktopBP){
                        width: 40vw;
                        margin-top: 2rem;
                        margin-left: 0;
                        justify-content: left;
                    }
                    
                    .releaseDate {

                        @include mq($desktopBP){
                            margin-right: 5rem;    
                        }

                        .releaseDateTitle {
                            font-size: 1.4em;
                            text-align: center;
                            text-decoration: underline 3px solid $accentcolor;
                            text-underline-offset: 5px;

                            @include mq($tabletBP){
                                font-size: 2.2em;
                                text-underline-offset: 12px;
                            }

                            @include mq($desktopBP){
                                font-size: 1.6em;
                                text-underline-offset: 8px;
                            }

                            @include mq($desktopWideBP){
                                font-size: 2.2em;
                            }
                        }
        
                        .date {
                            text-align: center;
                            font-size: 1.3em;

                            @include mq($tabletBP){
                                font-size: 2em;
                            }

                            @include mq($desktopBP){
                                font-size: 1.3em;
                            }

                            @include mq($desktopWideBP){
                                font-size: 2em;
                            }
                        }
                    }
        
                    .runtime {
        
                        .runtimeTitle {
                            font-size: 1.4em;
                            text-align: center;
                            text-decoration: underline 3px solid $accentcolor;
                            text-underline-offset: 5px;

                            @include mq($tabletBP){
                                font-size: 2.2em;
                                text-underline-offset: 12px;
                            }

                            @include mq($desktopBP){
                                font-size: 1.6em;
                                text-underline-offset: 8px;
                            }

                            @include mq($desktopWideBP){
                                font-size: 2.2em;
                            }
                        }
        
                        .time {
                            text-align: center;
                            font-size: 1.3em;

                            @include mq($tabletBP){
                                font-size: 2em;
                            }

                            @include mq($desktopBP){
                                font-size: 1.3em;
                            }

                            @include mq($desktopWideBP){
                                font-size: 2em;
                            }
                        }
                    }
                }
            }

            .cast {
                
                .creditsData {

                    h3 {
                        font-size: 1.4em;
                        font-weight: 500;
                        text-align: center;
                        text-decoration: underline 3px solid $accentcolor;
                        text-underline-offset: 7px;
                        margin-top: 3rem;
                        margin-bottom: 2rem;

                        @include mq($tabletBP){
                            font-size: 2.2em;
                            text-underline-offset: 12px;
                            margin-bottom: 3rem;
                        }

                        @include mq($desktopBP){
                            font-size: 1.6em;
                            text-underline-offset: 8px;
                            text-align: left;
                            margin-left: 5.1%;
                        }

                        @include mq($desktopWideBP){
                            font-size: 2.2em;
                            text-underline-offset: 12px;
                        }
                       
                    }
                    
                    .castArea {

                        @include mq($tabletBP){
                            display: grid;
                            grid-template-columns: 1fr 1fr;   
                        }

                        @include mq($desktopBP){
                            grid-template-columns: 1fr 1fr 1fr;   
                        }

                        @include mq($desktopWideBP){
                            width: 94vw;
                            max-width: 94vw;
                            margin: 0 2rem;
                            margin-left: 3%;
                            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                        }

                        .castMember {

                            img {
                                display: block;
                                width: 70%;
                                margin: 0 auto;
                                border-radius: 15px;
                                border: 3px solid $accentcolor;

                                @include mq($tabletBP){
                                    width: 80%;   
                                }

                                @include mq($desktopBP){
                                    width: 70%;
                                }

                                @include mq($desktopWideBP){
                                    width: 75%;
                                }
                            }

                            p {
                                text-align: center;
                                font-size: 1em;
                                margin: 0 auto;
                                margin-bottom: 3rem;
                                margin-top: 0.5rem;
                                max-width: 80vw;

                                @include mq($tabletBP){
                                    max-width: 80%;
                                    font-size: 1.4em; 
                                    margin-top: 1rem;  
                                }

                                @include mq($desktopWideBP){
                                    font-size: 1.2em;
                                    max-width: 80%;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}