// Colours
$backgroundprimary: #293241;
$backgroundsecondary: #3d5a80;
$primarytxtcolor: #f5f5f5;
$accentcolor: #E03D15;
$lightblue: #B5D2E3;

// Media Query Breakpoints
$mobileBP: 450px; 
$tabletBP: 768px; 
$desktopBP: 1025px; 
$desktopWideBP: 1280px; 

// body
$bodyPadding: 3.125rem;